.projects {
  padding: 120px 100px;
}

.subtitle {
  display: block;
  letter-spacing: 4px;
  color: #777;
  margin-bottom: 20px;
  font-size: 25px;
}

.projects h2 {
  font-size: 70px;
  margin-bottom: 60px;
}

.projectList {
  width: 100%;
}

.projectItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0;
  border-bottom: 1px solid #ddd;

  transition: all 0.3s ease;
}

.projectItem:hover {
  padding-left: 20px;
}

.number {
  display: block;
  color: #999;
  margin-bottom: 15px;
}

.left h3 {
  font-size: 42px;
  margin-bottom: 10px;
}

.left p {
  color: #666;
  font-size: 18px;
}

.year {
  font-size: 20px;
  color: #888;
}

@media (max-width: 768px) {
  .projects {
    padding: 80px 30px;
  }

  .projects h2 {
    font-size: 45px;
  }

  .projectItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .left h3 {
    font-size: 30px;
  }
}